<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                {% with request.resolver_match.url_name as url_name %}
                <li class="nav-item {% if url_name == 'home' %} active {% endif %}"><a href="{% url 'home' %}" class="nav-link">Басты бет</a></li>
                <li class="nav-item {% if url_name == 'favorites' %} active {% endif %}"><a href="{% url 'favorites' %}" class="nav-link">Таңдаулы</a></li>
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>